{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение курса</title>
</head>
<body>
    <h1>Изменение курса</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Название курса:</label><br>
        <input type="text" id="name" name="name" value="{{ course.name }}"><br>
        <label for="description">Описание:</label><br>
        <textarea id="description" name="description">{{ course.description }}</textarea><br>
        <label for="price">Цена:</label><br>
        <input type="text" id="price" name="price" value="{{ course.price }}"><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
{% endblock %}