{% extends 'index.html' %}
{% block content %}
  <div class="new-users">
        
    <h1>Редактирование информации о сотруднике</h1>

    <div class="user-list">

        <div class="course-title">
          <!DOCTYPE html>
          <html>
          <head>
              <title>Создать сотрудника</title>
          </head>
          <body>
              <h1>Создать сотрудника</h1>
              <form method="post">
                  {% csrf_token %}
                  <label for="first_name">Имя:</label><br>
                  <input type="text" id="first_name" name="first_name" value="{{ employee.user.first_name }}"><br>
                  <label for="last_name">Фамилия:</label><br>
                  <input type="text" id="last_name" name="last_name" value="{{ employee.user.last_name }}"><br>
                  <label for="phone">Номер телефона:</label><br>
                  <input type="text" id="phone" name="phone" value="{{ employee.phone }}"><br>
                  <label for="specialty">Специальность:</label><br>
                  <select id="specialty" name="specialty">
                      {% for specialty in specialties %}
                          <option value="{{ specialty.id }}">{{ specialty.specialty }}</option>
                      {% endfor %}
                  </select><br>
                  <label for="position">Должность:</label><br>
                  <select id="position" name="position">
                      {% for choice in employee.EmployeeStatus.choices %}
                          <option value="{{ choice.0 }}" {% if choice.0 == employee.position %}selected{% endif %}>{{ choice.1 }}</option>
                      {% endfor %}
                  </select><br>
                  <input type="submit" value="Сохранить">
              </form>
          </body>
          </html>
          
</div>
                
	
</div>
</div>
</div>
{% endblock %}