{% extends 'index.html' %}
{% block content %}
  <div class="new-users">
        
    <h1>Редактирование информации о сотруднике</h1>

    <div class="user-list">

        <div class="course-title">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- <input type="text" value="{{employee.user.first_name}}" name="name id=""> -->
    <button class="btn-outline-sm" type="submit" style="margin: 5px 5px 5px 5px;">Создать</button>
    <!-- <input type="text"> -->
  </form>
</div>
                
	
</div>
</div>
</div>
{% endblock %}