{% extends 'index.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
</head>
<body>
    <h1>Create Group</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Group Name:</label>
        <input type="text" id="name" name="name"><br>
        
        <label for="employee">Teacher:</label>
        <select id="employee" name="employee">
            {% for employee in employees %}
                <option value="{{ employee.pk }}">{{ employee.user.first_name }} {{employee.user.last_name}}</option>
            {% endfor %}
        </select><br>
        
        <label for="course">Course:</label>
        <select id="course" name="course">
            {% for course in courses %}
                <option value="{{ course.pk }}">{{ course.name }}</option>
            {% endfor %}
        </select><br>
        
        <label for="students">Students:</label>
        <select id="students" name="students" multiple>
            {% for student in students %}
                <option value="{{ student.pk }}">{{ student.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>
{% endblock %}