{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Не знаю</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="">
                    <h2>CRM <span class="danger">Progress</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Главная</h3>
                </a>
                <a href="message.html" class="message">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Пользователь</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Аналитика</h3>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Настройки</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Добавить аккаунт</h3>
                </a>
                <a href="{% url 'logout' %}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Выйти из акк</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Analytics</h1>
            <!-- Analyses -->
            
            <!-- End of Analyses -->           <!-- New Users Section -->
            <div class="new-users">
                <h2>Наши курсы</h2>
                <div class="user-list">
                    <div class="course-card">
                        <div class="course-title">IT - BACK-END</div>
                        <div class="course-description">Описание курса: Python, Django</div>
                        <div class="course-details">
                            {% for course in courses %}
                                <h2>{{ course.name }}</h2>
                                <p>Учитель: {{ course.user }}</p>
                                {% endfor %}
                            <!-- <div>Преподаватель: {{ course.name }} </div>
                            <div>Длительность: 7 месяцов</div>
                            <div>Возраст: 12-20 </div> -->
                        </div>
                        <button class="btn">Записаться</button>
                    </div>
                    
            </div>
            <!-- End of New Users Section -->


            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <h2>Статус оплаты курса</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Название курса</th>
                            <th>Учитель</th>
                            <th>Оплата</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <a href="#">Посмотреть подробнее</a>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Привет, <b>{{user.username}}</b></p>
                        <small class="text-muted"></small>
                    </div>
                    <div class="profile-photo">
                        <img src="1" >
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="1">
                    <h2>Имя пользователя</h2>
                    <p>Учитель, ученик, админ</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Уроки</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Лексика</h3>
                            <small class="text_muted">
                                08:00  - 12:00 
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Урок №3</h3>
                            <small class="text_muted">
                                17:00 - 20:00 
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Добавить урок (Только для работника)</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>