{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
</head>
<body>
    <h2>Edit Student</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ student.user.first_name }}"><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ student.user.last_name }}"><br>
        <label for="status">Status:</label><br>
        <select id="status" name="status">
            <option value="Active" {% if student.status == 'Active' %} selected {% endif %}>Active</option>
            <option value="Inactive" {% if student.status == 'Inactive' %} selected {% endif %}>Inactive</option>
        </select><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" value="{{ student.phone }}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
{% endblock %}